{{#if action.divider}}
  <li class="divider" data-ds-show="{{action.show}}" data-ds-hide="{{action.hide}}"/>
{{else}}
  <li role="presentation"
    class="{{action.css}}"
    data-ds-action="{{action.name}}"
    data-ds-category="{{category}}"
    data-ds-show="{{action.show}}"
    data-ds-hide="{{action.hide}}">
    <a role="menuitem" href="#"><i class="fa fa-fw {{action.icon}}"></i> {{action.display}}</a>
  </li>
{{/if}}
