<div class="row ds-info-edit-panel">
  <!-- Column 1 -->
  <div class="col-md-5">
    <h4>Properties</h4>

    <table class="table-condensed">
      <tbody>
        <tr>
          <th>Title</th><td class="ds-editable" id="ds-info-panel-edit-title" data-type="text">{{title}}</td>
        </tr>

        <tr>
          <th>Category</th><td class="ds-editable" id="ds-info-panel-edit-category" data-type="text">{{category}}</td>
        </tr>

        <tr>
          <th>Summary</th><td class="ds-editable" id="ds-info-panel-edit-summary" data-type="text">{{summary}}</td>
        </tr>

        <tr>
          <th>Tags</th>
          <td>
            <!--
            {{#each tags}}
            {{> ds-dashboard-tag this}}
            {{/each}}
            -->

            <input id="ds-info-panel-edit-tags" class="form-control tm-input tm-input-success tm-input-info"/>

          </td>
        </tr>

        <tr>
          <th>Created</th><td>{{moment 'MMMM Do YYYY, h:mm:ss a' creation_date}}</td>
        </tr>
        <tr>
          <th>Last Modified</th><td>{{moment 'MMMM Do YYYY, h:mm:ss a' last_modified_date}}</td>
        </tr>

      </tbody>
    </table>
  </div> <!-- column -->

  <!-- Column 2 -->
  <div class="col-md-7">
    <h4>Description</h4>
    <div class="ds-editable"
         id="ds-info-panel-edit-description"
         data-type="textarea"
         data-rows="9"
         data-showbuttons="bottom"
         data-inputclass="ds-dashboard-description"
         style="text-align:top;">
      {{markdown description}}
    </div>
  </div>

</div>
