<table class="ds-property-sheet">
  <tbody>
    <tr><th>Property</th><th>Value</th></tr>
    {{#each item.interactive_properties}}
      <tr>
        <td>{{#if name}}{{name}}{{else}}{{this}}{{/if}}</td>
        <td data-ds-property-name="{{#if name}}{{name}}{{else}}{{this}}{{/if}}">{{interactive_property this ../item}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
