<div class="ds-item" id="{{item.item_id}}">
  {{> ds-title-bar}}
  <table class="table table-condensed ds-timeshift-summation-table {{height item}} {{css_class item}}
                {{#if item.striped}}table-striped{{/if}}">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{#if item.query_other}}{{item.query_other.name}}{{/if}}</th>
        <th>{{#if item.query}}{{item.query.name}}{{/if}}</th>
        <th>Delta</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody/>
  </table>
</div>
