<div class="ds-item ds-jumbotron-singlestat" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  <div class="{{css_class item}}">
    <span class="value"></span>
    <div class="annotations-wrapper">
      <div class="annotations">
        <span class="diff"></span>
        <span class="unit">{{item.units}}</span>
      </div>
    </div>
    <div><h3>{{item.title}}</h3></div>
  </div>
</div>
