<div class="ds-item ds-jumbotron-singlestat" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  <div class="{{height item}} {{css_class item}}">
    <div>
      <p><span class="diff"></span><span class="value"></span><span class="unit">{{item.units}}</span></p>
    </div>
    <div><h3>{{item.title}}</h3></div>
  </div>
</div>
