<div class="ds-item" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  <div class="ds-singlestat {{item.css_class}} {{height item}}">
    <h3>{{item.title}}</h3>
    <p><span class="value"></span><span class="unit">{{item.units}}</span><span class="diff"></span></p>
  </div>
</div>
