<!-- TODO: configure which rows to include. Sum doesnt make sense for rates -->
<tr>
  <th>Average</th>
    <td>{{format item.format then.mean}}</td>
  <td>{{format item.format now.mean}}</td>
  <td class="{{diff.mean_class}}">
    {{format item.format diff.mean}}
  </td>
  <td class="{{diff.mean_class}}">
    {{diff.mean_pct}}
  </td>
</tr>
<tr>
  <th>Min</th>
  <td>{{format item.format then.min}}</td>
  <td>{{format item.format now.min}}</td>
  <td class="{{diff.min_class}}">
    {{format item.format diff.min}}
  </td>
  <td class="{{diff.min_class}}">
    {{diff.min_pct}}
  </td>
</tr>
<tr>
  <th>Max</th>
  <td>{{format item.format then.max}}</td>
  <td>{{format item.format now.max}}</td>
  <td class="{{diff.max_class}}">
    {{format item.format diff.max}}
  </td>
  <td class="{{diff.max_class}}">
    {{diff.max_pct}}
  </td>
</tr>
<tr>
  <th>Sum</th>
  <td>{{format item.format then.sum}}</td>
  <td>{{format item.format now.sum}}</td>
  <td class="{{diff.sum_class}}">
    {{format item.format diff.sum}}
  </td>
  <td class="{{diff.sum_class}}">
    {{diff.sum_pct}}
  </td>
</tr>
