<div class="ds-item ds-heading" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  <h{{item.level}} {{#if item.css_class}}class="{{item.css_class}}"{{/if}}>
    {{item.text}} {{#if item.description}}<small>{{item.description}}</small>{{/if}}
      </h{{item.level}}>
</div>
