<div class="col-md-{{colspan}} col-sm-{{colspan}} ds-item ds-graph ds-singlegraph {{css_class item}}" id="{{item.item_id}}-{{index}}">
  <span class="ds-label">{{label}}</span>
  <div class="ds-singlegraph-grid-graph {{height item}}"></div>
  <span class="value">{{value}}</span>
</div>
