<div class="ds-item ds-singlegraph {{css_class item}}" id="{{item.item_id}}">
  {{> ds-title-bar}}
  <span class="ds-label"></span>
  <div class="ds-graph-holder {{height item}}">
    <svg class="{{height item}}"></svg>
  </div>
  <span class="unit">{{item.units}}</span>
  <span class="value"></span>  
  {{#if item.display_transform}}
    <span class="transform">{{item.transform}}</span>
  {{/if}}
</div>
