<div class="col-md-{{colspan}} col-sm-{{colspan}} ds-singlegraph {{css_class item}}" id="{{item.item_id}}-{{index}}">
  <span class="ds-label">{{label}}</span>
  <div class="ds-graph-holder {{height item}}"></div>
  <span class="value">{{value}}</span>
  <span class="transform">{{item.transform}}</span>
</div>
