<div class="ds-item" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  <div class="ds-timerstat {{item.css_class}} {{height item}}">
    <h3>{{item.title}}</h3>
    <p class="data"></p>
  </div>
</div>
