<div class="ds-cell {{span item}} {{offset item}} {{css_class item}} {{height item}}"
     {{#if item.align}} align="{{item.align}}" {{/if}} id="{{item.item_id}}"
       >
       {{> ds-edit-bar-cell}}
  {{#if item.style}}<div class="{{style_class item}}">{{/if}}

    {{#each item.items}}
    {{item this}}
    {{/each}}

    {{#if item.style}}</div>{{/if}}
</div>
