<div class="ds-item ds-markdown {{height item}} {{css_class item}}" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  {{#if item.raw}}
    <pre>{{item.text}}</pre>
  {{else}}
   {{#if item.expanded_text}}{{markdown item.expanded_text}}{{else}}{{markdown item.text}}{{/if}}
  {{/if}}
</div>
