<div class="ds-presentation ds-markdown {{height item}} {{css_class item}}" id="{{item.item_id}}">
  {{ds-edit-bar item}}
  {{#if item.raw}}
  <pre>{{item.text}}</pre>
  {{else}}
  {{markdown item.text}}
  {{/if}}
</div>
