<table class="table table-condensed ds-percentage-table">

  <thead>
    <tr>
      <th></th>
      <th>%</th>
      {{#if item.include_sums}}
        <th>{{item.transform}}</th>
      {{/if}}
    </tr>
  </thead>

  <tbody>
    {{#each query.data}}
      <tr>
        <th>{{target}}</th>
        <td>{{format ",.2%" summation.percent}}</td>
        {{#if ../item.include_sums}}
          <td>{{format ../item.format summation.percent_value}}</td>
      {{/if}}
      </tr>
    {{/each}}

    {{#if item.include_sums}}
      <tr>
        <th>Total</th>
        <td></td>
        <td>{{format item.format query.summation.percent_value}}</td>
      </tr>
    {{/if}}
  </tbody>

</table>
