<div class="ds-section {{container_class item}} {{css_class item}}" id="{{item.item_id}}">
  {{> ds-edit-bar}}
  {{#if item.style}}<div class="{{style_class item}}">{{/if}}
    {{#if item.title}}
      <div>
        <h{{item.level}} class="ds-section-heading">{{item.title}}
          {{#if item.description}}<small>{{item.description}}</small>{{/if}}
        </h{{item.level}}>
        {{#if item.horizontal_rule}}<hr/>{{/if}}
      </div>
    {{/if}}

    {{#each item.items}}
      {{item this}}
    {{/each}}

    {{#if item.style}}</div>{{/if}}
</div>
