<tr>
    <th>
    {{#if item.show_color}}
      <span class="ds-summation-color-cell" style="background:{{color}}"></span>
    {{/if}}
      {{series.target}}</th>
    <td>{{format item.format series.summation.last}}</td>
    <td>{{format item.format series.summation.min}}</td>
    <td>{{format item.format series.summation.max}}</td>
    <td>{{format item.format series.summation.mean}}</td>
    <td>{{format item.format series.summation.median}}</td>
    <td>{{format item.format series.summation.sum}}</td>
  </tr>
