<div class="row" id="{{item.item_id}}-details" style="display:none">
  <br/>
  <div class="col-md-12">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td>Item</td>
        </tr>
        <tr>
          <td>Query</td><td>{{item.query.name}}</td>
        </tr>
        <tr>
          <td>Item Type</td><td>{{item.item_type}}</td>
        </tr>
        <tr>
          <td>Height</td><td>{{item.height}}</td>
        </tr>
        <tr>
          <td>Style</td><td>{{item.style}}</td>
        </tr>
        <tr>
          <td>CSS Class</td><td>{{item.css_class}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
